* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-family: 'Rubik', sans-serif;
}

:root {
    --white: #fff;
    --gray: #C4C4C4;
    --text: #222222;
    --primary: #515FC1;
    --blue: #E6EEFE;
    --delete: #BC3A3A;
    --shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    --radius: 5px;
    --button_radius: 15px;
}



body,
html {
    font-size: 10px;
    color: var(--text);
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-style: normal;
}

main {
    background-color: var(--blue);
    padding: 4rem 0;
    min-height: calc(100vh - 100px);

}

p,
small,
time {
    font-size: 1.3rem;
}

a {
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    color: inherit;
}

span {
    color: var(--primary);
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 1rem;
    font-size: 1.4rem;
}


input {
    outline: none;
    border: none;

}

.input_container {
    padding: 1rem;
    border-radius: var(--radius);
    margin: 1rem 2rem;
    color: var(--gray);
    max-height: 21rem;
    background-color: var(--white);
}


.list_item {
    padding: 0.9rem;
}

.list_item:hover {
    background-color: var(--blue);
    border-radius: var(--radius);
}


.item_filtration:focus {
    color: var(--primary);
    text-shadow: 0 0 1px var(--primary);
    background: none;

}

.input {
    margin: 1rem;
    padding: 0.5rem;
    max-width: 14rem;
    border: 3px solid #ecedee;

}

.links {
    color: var(--primary);
}

hr {
    border: none;
    background-color: var(--gray);
    height: 1px;
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

label {
    margin: 3rem;
    text-align: start;
}

/******************************buttons************************* */



button {
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    font-weight: 450;
}

.btn_blue {
    padding: 1.4rem 5rem;
    color: var(--white);
    border-radius: var(--button_radius);
    background-color: var(--primary);
}

.btn{
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    color:var(--white);
    background-color:var(--gray);
    margin: 1rem 2rem;
}


.btn_send {
    padding: 0.3rem 0.6rem;
    background-color: var(--primary);
    border-radius: 6px;

}


.twit_back {
    background-color: transparent;
    color: var(--gray);
    font-weight: 300;
    margin-left: auto;

}

.page {
    overflow: hidden;
    min-height: 100vh;
}

.modal{
    right: -9%;
    background-color:var(--white);
    padding: 2rem;
    border-radius:4px;
    border: 0.2px solid;
    position: fixed;
    text-align: center;
}

.hide{
    opacity: 0;
}

.modal:focus {
    opacity: 1; 
	pointer-events: stroke; 
}


/******************************filter************************** */

.list_filter {
    margin: 1rem auto;
    color: var(--gray);
}

.submit {
    margin: 2rem auto;

}


/******************************header************************** */

header {
    z-index: 2;
    background-color: var(--white);
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.11);
    padding: 30px 100px;
}




.header_user {
    color: var(--gray);
    margin-right: 1.4rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.header_content {
    display: flex;
    align-items: center;
}

.feed {
    margin: 5rem 0;
}



/******************************filtration************************** */

.filtration {
    text-align: center;
    justify-content: space-between;
}

.filter_btns{
    display: flex;
    margin: auto;
}

.filter_container{
    display: flex;
}


.twit_edit {
    text-align: right;

}

.filter_items {
    margin: 10rem auto;
}

.selector_name {
    font-size: 1.8rem;
    color: var(--gray);
    border-radius: var(--button_radius);
    appearance: none;
    height: 3.5rem;
    min-width: 15rem;
    font-weight: 500;
}

.more {
    display: flex;

}

.load_more {
    margin: 3rem auto;
    background-color: var(--white);

}


.selected {
    background-color: var(--primary);
    color: var(--white);
}

.reset {
    margin-left: 1rem;
    vertical-align: middle;
}

/******************************registration************************** */

.error_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_enter {
    margin: 4rem auto;
    text-align: center;

}

/******************************twits************************** */


.twit_write_area {
    background-color: var(--white);
    border-radius: var(--radius);
    padding: 4rem;
    margin-top: 2rem;
}



.main_textarea {
    overflow-x: hidden;
    padding: 1.3rem;
    text-align: justify;
    min-height: 7.4rem;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}


.correct {
    padding: 0.5rem;
}

/******************************twit.html************************** */


.light_hr {
    border: none;
    max-width: 80%;
    height: 0.3rem;
    margin: 3rem auto;
    background-color: #F8FAFC;

}

.twit_back {
    display: flex;
    align-items: center;
}

.twit_text {
    margin: 1.5rem 0;
}

.comment_info {
    display: flex;
    columns: 2;
    align-items: center;
    margin: 2rem 0;
}

.comment_date {
    text-align: right;
    width: 100vh;
    color: var(--gray);
}


.comment_form {
    display: flex;
    top: 0;
    min-height: 2rem;
}

/******************************comments************************** */

.comments_content {
    color: var(--gray);
    margin: 1.6rem 0;
}

.comments_area {
    margin: 5rem 10rem;
    overflow: auto;
    max-height: 30rem;
    padding-right: 2rem;
}

.comment_textarea {
    border-radius: var(--button_radius);
    border: none;
    resize: none;
    box-shadow: 0px 0px 8px 3px #00000017;
    padding: 0.7rem 1.5rem;
    width: 100%;
    margin-right: 2rem;
}

.login_textarea {
    padding: 1rem 3.2rem;
    border-radius: 1rem;
    background: url(images/pers.png) no-repeat 8px;

}

.pass_textarea {
    background: url(images/key.png) no-repeat 8px;
}

/******************************twits************************** */


.twit_footer {
    columns: 2;
    text-align: left;
    margin-top: 2rem;

}

.user_check {
    color: var(--gray);
    font-weight: normal;
    font-size: 1.4rem;
    margin-left: 0.7rem;
}


.twit_comment_number {
    font-size: 1.4rem;
    margin-left: 0.6rem;
    vertical-align: text-bottom;
    color: var(--gray);
}

.main_container {
    margin: 0 auto;
    margin-top: 14rem;
    max-width: 1000px;
}

.logo {
    max-width: 14rem;
}

.twit_actions,
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.twit_actions {
    margin-top: 2rem;
}

.twit {
    background-color: var(--white);
    padding: 4rem;
    margin: 4.5rem 0;
    border-radius: var(--radius);
}



.user_info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.twit_date {
    color: var(--gray);
}

.filter_confirm {
    border-radius: 3px;
    background-color: var(--white);
    color: var(--primary);
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#show_filter {
    font-size: 1.6rem;
    min-width: 15rem;
    font-weight: 500;
    color: var(--gray);
}

.none {
    position: relative;
    text-align: center;
}


/******************************scroll************************** */

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background: #c4c3c3;
    border-radius: 8px;
}

/******************************animations************************** */

img:hover {
    filter: drop-shadow(0px 0px 2px var(--gray));
}

.twit:hover {
    filter: drop-shadow(0px 4px 3px var(--gray));
}

.selector_name:hover,
.load_more:hover,
button:hover {
    box-shadow: 0 0 5px var(--gray);
}

.selector_name:focus {
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: var(--gray);
    outline: none;
}

.filter_confirm:focus {

    color: var(--primary);
    text-shadow: 0 0 1px var(--primary);
}

.no_comments:hover {
    filter: none;
}

/******************************footer************************** */

footer {
    columns: 2;
    padding: 3.2rem 10rem;
    line-height: 3rem;
    text-align: left;
}

.contacts {
    text-align: right;
}


/******************************media************************** */

@media(max-width:992px) {

    

    .filtration {
        margin: 0.5rem;
        flex-direction: column;
    }
    .filter_container{
        flex-direction: column;
    }

    .main_container {
        margin: 0 2rem;
        margin-top: 10rem;
    }

    .logo {
        max-width: 50%;
        min-width: 15rem;

    }

    header {
        padding: 2rem;
    }


    .list_filter {
        width: 40%;
        margin: 1rem auto;
    }

}

@media(max-width:768px) {

    .btn_blue {
        padding: 1rem 2rem;
        font-size: 1.4rem;
    }

}

@media(max-width:620px) {

    .comments_area,
    .comment_form {
        margin: auto;
    }

    .comment_form {
        margin-top: 2rem;
    }

    footer {
        padding: 32px;
        columns: 1;
    }

    .contacts {
        text-align: left;
    }

    .input {
        margin: 0;
        width: 95%;
    }

}